body { 
	background-color: #B4CDCD; 
	color: #000;
}

.center {
	text-align: center;
}

header {
	margin: 60px 0;
}
	
header h1 { 
	font-size: 64px; 
	color: #444; 
	letter-spacing: -3px; 
	font-weight: bold; 
	margin: 20px 0 0 0; 
	padding: 0;
	text-shadow: 2px 2px 1px #ccc;
    filter: dropshadow(color=#ccc, offx=2, offy=2);
}

.topbox, .box {
	width: 60%;
	margin: 50px auto;
	background-color: #ffffee;
	padding: 30px;
}

.topbox {
	text-align: center;
    font-size: 18px; 
}

.box {
	text-align: left;
    font-size: 14px;
}

.imgborder { 
	margin: 50px auto;
	text-align: center;
}
	
.imgborder img {
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
}

.round {
	display: inline-block;
	text-align: left;
	height: 50px;
	width: 50px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color:#8c9a9a;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
}

.step {
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin: 10px 0 0 -15px;
	text-shadow: 1px 1px 1px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);
}

.section-title { 
	display: inline-block;
	width: 90%;
	text-align: left;
	text-shadow: 1px 1px 1px #666;
    filter: dropshadow(color=#666, offx=1, offy=1);
}

.section-title h2 { 
	color: #000; 
	font-size: 24px;
}


.pad20tb {
	padding: 20px 0;
}

.right {
	text-align: right;
}

footer { 
	clear: both; 
	border-top: 3px #eee dashed; 
	margin: 40px 0 40px 0; 
	color: #666; 
	text-align: center; 
}

footer p { 
	font-size: 18px; 
	margin: 10px 0 0 0; 
}

#formwrap {
	width: 90%;
	margin: 0px auto;
	font-weight: bold;
	font-size: 12pt;
}

fieldset { 
	border: 1px #666 solid;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    -moz-border-radius: 8px;
	border-radius: 8px;
}

legend {
    padding: 0.2em 0.5em;
    font-family: "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;
    font-size: 16px;
    border-bottom: 0px;
}

input, textarea {
	border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 8px rgba(140, 154, 154, 1);
    -moz-box-shadow: 0px 0px 8px rgba(140, 154, 154, 1);
    box-shadow: 0px 0px 8px rgba(140, 154, 154, 1);
}

#submit {
	width: 20%;
	margin: 15px auto;
	color: #fff;
	background-color: #8c9a9a;
	clear: both;
	text-align: center;
	border: 1px #666 solid;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    -moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	text-decoration: none;
}

#submit:hover {
	border: 1px #666 solid;
	-webkit-box-shadow:  1px 1px 1px 1px #000;
    box-shadow:  1px 1px 1px 1px #000;
    cursor: pointer;
}

#submit:active {
	background-color: #B4CDCD;
}

#error {
	width: 60%;
	display: none;
	margin: 0 auto;
	text-align: center;
}