html {
	border-top: 40px #8c9a9a solid;
	padding: 0px;
	margin: 0;
}

#wrap { 
	width: 960px; 
	margin: -50px auto 0 auto; 
	text-align: center; 
	position: relative;
}

body { 
	background-color: #B4CDCD; 
	color: #000; 
	line-height: 22px; 
	font-family: Arial;
	font-size: 12px; 
	text-align: center;
}
	
a:link, a:visited { 
	color: #8c9a9a; 
	text-decoration: none; 
}
	
a:hover, a:active {
	color: #555555; 
}

#header { 
	padding: 70px 0 40px 0; 
	overflow: hidden; 
}
	
#header h1 { 
	font-size: 64px; 
	color: #444; 
	letter-spacing: -3px; 
	font-weight: bold; 
	margin: 20px 0 0 0; 
	padding: 0;
	text-shadow: 2px 2px 1px #ccc;
    filter: dropshadow(color=#ccc, offx=2, offy=2);
}
	
#main { 
	clear: both; 
	margin: 0 75px;
	width: 810px; 
}
	
.box, .topbox { 
	background-color: #ffeee0; 
	border: 2px #e5e5e5 solid; 
	padding: 30px;  
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.box {
	margin-top: 20px;
	text-align: left;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    font-size: 14px;
}

.topbox {
	width: 90%;
	text-align: center;
	margin: 10px auto;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    font-size: 18px;
}

.box, .topbox p {  
	margin: 0; 
	line-height: 26px;
}

.round {
	display: inline-block;
	text-align: left;
	height: 50px;
	width: 50px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color:#8c9a9a;
	margin: 0 0 -20px -70px;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
}

.step {
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin: 10px 0 0 -15px;
	text-shadow: 1px 1px 1px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);
}

.section-title { 
	display: inline-block;
	width: 90%;
	margin: 60px 0 -15px 5px;
	text-align: left;
	text-shadow: 1px 1px 1px #666;
    filter: dropshadow(color=#666, offx=1, offy=1);
}

.section-title h2 { 
	color: #000; 
	font-size: 24px;
}
    
.imgborder { 
	margin: 50px auto;
	text-align: center;
}
	
.imgborder img {
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
}

.dlbox {
	background: url("images/dlbg.png");
	width: 60%;
	margin: 25px auto;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	border: 1px #FFEC8B solid;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    font-family: "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;
    font-size: 18px;
    font-weight: 600;
    -moz-border-radius: 8px;
	border-radius: 8px;
}

.dlbox a {
	display: block;
}

#formwrap {
	width: 90%;
	margin: 0px auto;
	font-weight: bold;
	font-size: 12pt;
}

#formleft {
	width: 50%;
	float: left;
	text-align: left;
	padding: 15px 0;
	display: inline-block;
}

#formright {
	width: 50%;
	float: left;
	text-align: right;
	padding: 15px 0;
	display: inline-block;
}

fieldset { 
	border: 1px #666 solid;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    -moz-border-radius: 8px;
	border-radius: 8px;
}

legend {
    padding: 0.2em 0.5em;
    font-family: "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;
    font-size: 16px;
}

input, textarea {
	border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 8px rgba(140, 154, 154, 1);
    -moz-box-shadow: 0px 0px 8px rgba(140, 154, 154, 1);
    box-shadow: 0px 0px 8px rgba(140, 154, 154, 1);
}

#submit {
	width: 20%;
	margin: 15px auto;
	color: #fff;
	background-color: #8c9a9a;
	clear: both;
	text-align: center;
	border: 1px #666 solid;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    -moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	text-decoration: none;
}

#submit:hover {
	border: 1px #666 solid;
	-webkit-box-shadow:  1px 1px 1px 1px #000;
    box-shadow:  1px 1px 1px 1px #000;
    cursor: pointer;
}

#submit:active {
	background-color: #B4CDCD;
}

#error {
	width: 60%;
	margin: 15px auto;
	color: #fff;
	background-color: #C73F17;
	clear: both;
	text-align: center;
	border: 2px #666 solid;
	-webkit-box-shadow:  1px 1px 1px 1px #666;
    box-shadow:  1px 1px 1px 1px #666;
    -moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	text-decoration: none;
	display: none;
}

#footer { 
	clear: both; 
	border-top: 3px #eee dashed; 
	margin: 40px 0 40px 0; 
	color: #666; 
	text-align: center; 
}

#footer p { 
	font-size: 18px; 
	margin: 10px 0 0 0; 
}